@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="nav navbar-nav navbar-right">
    <li><a asp-controller="Attendances" asp-action="Login">Check in</a></li>
</ul>