@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h1>
        <br />
        <br />
        <br />

        Welcome to my humble web page. Feel free to play around (=
    </h1>
</div>
